<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div class="p-3 d-flex" style="column-gap: 10px">
    <div>
        <h2>Категории</h2>
        <ul>
            {% for i in cat %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>

           <h2>Tэги</h2>
        <ul>
        {% for i in tags %}
        <li>{{i}}</li>
        {% endfor %}
</ul>
    </div>
    <div>
        {% if user.is_authenticated %}
        <p><a href="/users/logout/">Выйти</a> </p>
        {% else %}
        <p><a href="/users/login/">Войти на сайт</a> </p>
        {% endif %}
    </div>
    <div>
         <h1>Проверка работы шаблона</h1>
        <h2>Рецепты</h2>
        <ul class="text-primary">
        {% for i in data %}
            Название:
            <li>
                <div>
                     <p>{{i.title}}</p>
                <hr> Описание:
                  <p>{{i.content}}</p>
                <hr> Шаги приготовления:
                    <p>{{i.steps}}</p>
                    <hr>
                </div></li>

        {% endfor %}
        </ul>


    </div>



</div>


</body>
</html>